{% extends "layout.html" %}

{% block body %}
<h1 class="fs-2">
    Bedarf: {{ lecturer }} - {{ course.course }}
</h1>

<div class="mb-3 row">
    <label for="course_comment" class="col-sm-2 col-form-label">Anmerkung zum Kurs:</label>
    <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="course_comment"
            value="{% if course.comment|length != 0 %}{{ course.comment }}{% else %}-{% endif %}">
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Material</th>
            <th>Bedarf</th>
            <th>Altbestand</th>
            <th>Neubestand</th>
            <th>Meldebestand</th>
            <th>Bestellnummer</th>
            <th>Fach</th>
            <th>Anmerkung</th>
        </tr>
    </thead>

    <tbody>
        {% set has_requirements = {'bool': false} %}
        {% for requirement in requirements %}
        {% if requirement.course_id == course.course_id %}
        {% if requirement.is_static == 0 %}
        {% if requirement.amount - requirement.requirement * attendents <= 0 %} <tr class="table-danger">
            {% elif requirement.amount - requirement.requirement * attendents <= requirement.report %} <tr
                class="table-warning">
                {% else %}
                <tr>
                    {% endif %}
                    {% else %}
                    {% if requirement.amount - requirement.requirement <= 0 %} <tr class="table-danger">
                        {% elif requirement.amount - requirement.requirement <= requirement.report %} <tr
                            class="table-warning">
                            {% else %}
                <tr>
                    {% endif %}
                    {% endif %}
                    <td>{{ requirement.material }}</td>
                    {% if requirement.is_static == 0 %}
                    <td>{{ requirement.requirement * attendents }}</td>
                    {% else %}
                    <td>{{ requirement.requirement }}</td>
                    {% endif %}
                    <td>{{ requirement.amount }}</td>
                    {% if requirement.is_static == 0 %}
                    <td>{{ requirement.amount - requirement.requirement * attendents }}</td>
                    {% else %}
                    <td>{{ requirement.amount - requirement.requirement }}</td>
                    {% endif %}
                    <td>{{ requirement.report }}</td>
                    <td>{{ requirement.order_number }}</td>
                    <td>{{ requirement.storage_location }}</td>
                    <td>{% if requirement.comment|length != 0 %}{{ requirement.comment }}{% else %}-{% endif %}</td>
                </tr>

                {% if has_requirements.update({'bool': true}) %}
                {% endif %}

                {% endif %}
                {% endfor %}
                {% if not has_requirements['bool'] %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endif %}
    </tbody>
</table>

<form action="/buchen" method="get">
    <input type="submit" value="Verstanden" class="btn btn-outline-secondary">
</form>
{% endblock %}
